.products-sidebar {
    width:250px;
    border-right:1px solid var(--color-border);
    padding:40px 20px;
    background:var(--color-bg);
}

.products-sidebar ul li {
    margin:12px 0;
}

.products-sidebar a {
    text-decoration:none;
    color:var(--color-text);
    font-weight:500;
}
